@import 'mixin';

.footer {
    @include setPadding(2%, 0, 3%, 0);
    text-align: center;

    .wrapper {

        .author {
            font-size: 1.5rem;
            color: $secondaryColor;
        }
    }
}



@media screen and (max-width: 1250px) {
    .footer {
        @include setPadding(2%, 0, 3%, 0);
        text-align: center;
    
        .wrapper {
    
            .author {
                font-size: .9594rem;
                color: $secondaryColor;
            }
        }
    }
}