$sizePercent: 100%;
$size: 100;
$mainColor: #000;
$primaryColor: #5094f2;
$secondaryColor: #6c6c6c;
$specialyColor: #d94748;
$otherColor: #ebbb11;
$addColor: #fff;
$uniqueFont: 'Source Sans Pro', sans-serif;

@import 'header'; 
@import 'footer'; 
@import 'mixin';

@font-face {
    font-family: MYRIADPRO-REGULAR;
    src: url(../materials/MYRIADPRO-REGULAR.OTF);
}

.slider {
    background-image: url(../images/bg.png);
    background-size: cover;

    .wrapper {
        width: $sizePercent - 20% + 2;
        @include setMargin(0, auto, 0, auto);
        @include setPadding(0, 2%, 0, 2%);

        .slider__blocks {
            @include setFlex(flex, row, flex-start, flex-start);

            .slider__item {
                width: $sizePercent / 2;

                .phone {
                    width: $sizePercent / 5 * 4;
                    object-fit: contain;
                }

                .title {
                    font-size: 4rem;
                    @include setPadding(25%, 0, 0, 0);
                    color: $addColor;
                }

                .text {
                    font-size: 2rem;
                    @include setPadding(5%, 0, 7%, 0);
                    color: $addColor;
                    line-height: 4rem;
                }

                .sign {
                    @include setMargin(0, 0, 0, 2%);
                    width: $sizePercent / 3.6;
                    @include setFlex(flex, row, space-around, center);
                    background-color: $primaryColor;
                    @include setPadding(1.5%, 1.5%, 1.5%, 1.5%);
                    font-size: 2rem;
                    color: $addColor;

                    &:hover {
                        background-color: $addColor;
                        color: $mainColor;
                    }
                }
            }
        }
    }
}

.services {
    @include setPadding(4%, 0, 6%, 0);

    .wrapper {
        width: $sizePercent - 20% + 2;
        @include setMargin(0, auto, 0, auto);
        @include setPadding(0, 2%, 0, 2%);

        .services__blocks {
            @include setFlex(flex, row, space-between, flex-start);
            text-align: center;

            .services__item {
                width: $sizePercent/3;

                .fa-solid {
                    width: $size * 2 - 15 + px;
                    height: $size * 2 - 15 + px;
                    @include setFlex(flex, row, center, center);
                    @include setMargin(0, auto, 7%, auto);
                    @include borderR($size + px);
                    font-size: $size / 20 + rem;
                    color: $addColor;
                }

                .fa-pen-clip {
                    background-color: $primaryColor;
                }

                .fa-desktop {
                    background-color: $specialyColor;
                }

                .fa-basket-shopping {
                    background-color: $otherColor;
                }

                .services__title {
                    font-size: 2rem;
                    color: $primaryColor;
                    @include setMargin(0, 0, 2%, 0);
                }

                .services__content {
                    width: $sizePercent / 1.2;
                    @include setMargin(0, auto, 0, auto);
                    font-size: 1.5rem;
                    color: $secondaryColor;
                }
            }
        }
    }
}

.shop {
    @include bb(1px solid $secondaryColor);

    .wrapper {
        width: $sizePercent - 20% + 2;
        @include setMargin(0, auto, 0, auto);
        @include setPadding(0, 2%, 0, 2%);

        .shop__title {
            font-size: 4rem;
            color: $secondaryColor;
        }

        .shop__blocks {
            @include setFlex(flex, row, flex-start, flex-start);
            @include setMargin(2%, 0, 5%, 0);

            .shop__item {
                width: $sizePercent / 2 - 2;
                @include setFlex(flex, row, flex-start, center);

                .basket {
                    width: $sizePercent / 4 * 3 - 5;
                    object-fit: contain;
                }
            }

            .shop__item__text {
                width: $sizePercent / 2 + 2;

                .item__title {
                    font-size: 2rem;
                    color: $secondaryColor;
                    @include setMargin(0, 0, 3%, 0);
                }

                .item__content {
                    width: $sizePercent - 8%;
                    font-size: 1.5rem;
                    color: $secondaryColor;
                    line-height: 3rem;
                }
            }
        }
    }
}